<section class="hero has-background-grey is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <button class="delete is-medium"></button>
          <form class="box has-background-grey-lighter">
            <div class="field">
              <div class="field">
                <label class="label">Username</label>
                <div class="control">
                  <input type="email" placeholder="Enter Username" class="input" required>
                </div>
              </div>
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input type="email" placeholder="Enter Email" class="input" required>
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <div class="control">
                  <input type="password" placeholder="Enter Password" class="input" required>
                </div>
              </div>
              <div class="field">
                <label class="label">Confirm Password</label>
                <div class="control">
                  <input type="password" placeholder="Enter Password" class="input" required>
                </div>
              </div>
              <div class="field level">
                <button class="button is-normal is-responsive is-primary level-right">
                  Create Account
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>